﻿@model utb_eshop_patek.Application.Client.ViewModels.Carts.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Košík</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Název
            </th>
            <th>
                Obrázek
            </th>
            <th>
                Množství
            </th>
            <th>
                Cena
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    <img src="@item.ImageUrl" class="image-thumbnail" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>

<h3 class="col-lg-offset-10">
    Celkem: € @Model.Total
</h3>
@if (Model.UserID.HasValue && Model.CartItems.Count > 0)
{
    <a class="btn btn-success col-lg-offset-10" asp-controller="Orders" asp-action="Create">
        Objednat
    </a>
}
